[submodule "extractors/ALIKE"]
	path = extractors/ALIKE
	url = https://github.com/Shiaoming/ALIKE.git
[submodule "extractors/SuperPointPretrainedNetwork"]
	path = extractors/SuperPointPretrainedNetwork
	url = https://github.com/magicleap/SuperPointPretrainedNetwork.git
[submodule "extractors/SuperGluePretrainedNetwork"]
	path = extractors/SuperGluePretrainedNetwork
	url = https://github.com/magicleap/SuperPointPretrainedNetwork.git
